@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Palet warna shadcn/ui kita sesuaikan dengan tema Neon */
    --background: 240 10% 3.9%; /* Warna dasar gelap, mendekati hitam */
    --foreground: 0 0% 98%; /* Teks putih gading */

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    /* Warna Neon kita letakkan di --primary */
    --primary: 163 100% 48%; /* #00F5C3 */
    --primary-foreground: 240 10% 3.9%; /* Teks di atas tombol Neon */

    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%; /* Teks abu-abu */

    --accent: 240 4% 16%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 163 100% 48%; /* Neon untuk ring focus */

    --radius: 0.5rem;
  }
 
  .dark {
    /* Biarkan sama dengan :root karena kita hanya punya dark mode */
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 163 100% 48%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 4% 16%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 163 100% 48%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background: linear-gradient(105deg, hsl(var(--background)), #18181b, hsl(var(--background)));
    background-size: 200% 200%;
    @apply animate-background-pan;
  }
}